body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
header{
    background-color: #f1f2f6;
}
header img{
    float: left;
    margin: 20px;
}
header .title .clearfix::after{
    content: "";
    clear: both;
    display: block;
}
header .title{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    width: 100%;
    background-color: #dfe4ea;
    height: 800px;
}
figcaption{
    font-weight: bold;
    font-size: 20px;
}
main .main-section{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 8px solid #57606f;
    background-color: #575fcf;
}
.introduce{
    padding: 20px;
    background-color: #74b9ff;
    font-weight: 540;
}
.introduce .hello{
    font-size: 30px;
    margin-bottom: 20px;
}
main img{
    border-radius: 200px;
}
figcaption{
    display: flex;
    padding-top: 15px;
    justify-content: center;
}
.introduce .circle{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.circle section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 20px;
}
.circle section a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle section:nth-of-type(1){
    background-color: #ED4C67;
}
.circle section:nth-of-type(2){
    background-color: #A3CB38;
}
.circle section:nth-of-type(3){
    background-color: #1289A7;
}
.circle section:hover{
    transform: scale(1.1);
}
#explain_box{
    padding: 0 25px;
}
#explain{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #ced6e0;
}
footer p{
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding-right: 40px;
}
footer section{
    display: flex;
    align-items: center;
}
footer section a{
   
}
/* modal */
.modal-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.modal{
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
    width: 650px;
    height: 650px;
    overflow: auto;
}
.modal-title{
    font-size: 45px;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 40px;
}
.modal li{
    font-size: 22px;
    font-weight: bold;
    padding-top: 45px;
}
.modal .index{
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
}
.modal .ex{
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.7;
}
.close-wrapper{
    text-align: right;
}
button{
    width: 70px;
    height: 30px;
    font-size: 15px;
}
.instar{
    display: block;
    background:url("../images/social_b_instar.png") no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    padding-right: 30px;
}
.instar:hover{
    background:url("../images/social_b_instar_hover.png") no-repeat;
    background-size: 30px;
    padding-right: 30px;
}
.facebook{
    display: block;
    background: url("../images/social_b_facebook.png") no-repeat;
    background-size: 12px 28px;
    width: 12px;
    height: 28px;
    padding-right: 30px;
}
.facebook:hover{
    background: url("../images/social_b_facebook_hover.png") no-repeat;
    background-size: 12px 28px;
    padding-right: 30px;
}